body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #4e2103;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.todo-container {
    background-color: #ee5c23;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #000202;
}

input {
    padding: 8px;
    margin-right: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}
button:hover{
    color: rgb(255, 0, 0);
    background-color: #128dac;
    border-radius: 7px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #03bb8db0;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background-color: #ce9491;
    color: #130101;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}
.delete-btn:hover{
    color: rgb(250, 3, 3);
    background-color: #fa8a76;
    border-radius: 7px;
}
